ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;

    li {
        background-color: rgb(238, 238,238);
        padding: 1em;
        margin-right: 10px;
        width: 20%;
        height: 70px;
        margin-bottom: 1em;
        display: flex;
        flex-direction: column;

        p {
            margin: 0;
        }

        p.listName {
            font-weight: bold;
            font-size: 1.2rem;
        }

        .edit {
            background-color: rgb(32, 141, 10);
            border: black;
            color: white;
            position: right;
            margin-top: 1em;
            margin-bottom: 0.5em;
            margin-left: 10em;
            width: 5em;
            text-align: center;
            text-decoration: black;
            display: inline-block;
            font-size: 12px;
        }

        .delete {
            background-color: rgb(202, 1, 1);
            align-self: right;
            border: black;
            color: white;
            position: right;
            margin-bottom: 0.5em;
            margin-left: 10em;
            width: 5em;
            width: 5em;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 12px;
        }
    }
}