<h1>Todo Items</h1>

<div class="center-button">
    <p><input type="text" [(ngModel)]="newItemContent"></p>
    <button class="button button1" (click)="createNewTodoItem()" type="button" mdbBtn color="primary" mdbWavesEffect>Create New Item</button>
</div>

<br>

<ul *ngIf="dto && dto.model">
    <li *ngFor="let item of dto.model">
        <p>{{ item.content }}</p>
        <button class="edit" (click)="editTodoItem(item)" type="button" mdbBtn color="primary" mdbWavesEffect>Edit</button>
        <button class="delete" (click)="deleteTodoItem(item.itemId)" type="button" mdbBtn color="primary" mdbWavesEffect>Delete</button>
    </li>
</ul>
