<h1>Todo Lists</h1>

<div class="center-button">
    <p><input type="text" [(ngModel)]="newListName"></p>
    <button class="button button1" (click)="createNewTodoList()" type="button" mdbBtn color="primary" mdbWavesEffect>Create New List</button>
</div>

<br>

<ul *ngIf="lists">
    <li *ngFor="let list of lists">
        <!-- <a href="http://localhost:4200/" class="site">{{ list.listName }}</a> -->
        <a [routerLink]="" (click)="navigateToList(list)">{{ list.listName }}</a>
        <button class="edit" (click)="editTodoList(list)" type="button" mdbBtn color="primary" mdbWavesEffect>Edit</button>
        <button class="delete" (click)="deleteTodoList(list)" type="button" mdbBtn color="primary" mdbWavesEffect>Delete</button>
    </li>
</ul>
