<div class="header-container">
    <h1>Welcome to Todo App</h1>
</div>

<div class="info-container">
    <p>
        This app serves for newbies, like myself, to learn a bit about Angular. It obviously does not offer
        the best UI experience but hopefully will give you a bit of an introduction. Please enjoy :)
    </p>
</div>

<br>

<h2>Have a try</h2>

<div class="center-button">
    <button class="button button1" (click)="navigateToSignUp()" type="button" mdbBtn color="primary" mdbWavesEffect>Sign Up</button>
</div>

<br>

<h2>Already have an account ?</h2>

<div class="center-button">
    <button class="button button1" (click)="navigateToLogin()" type="button" mdbBtn color="primary" mdbWavesEffect>Login</button>
</div>