<div class="header-container">
    <h1>Sign Up</h1>
</div>

<div class="username-container">
    <p>
        Username
        <br>
        <input type="text" [(ngModel)]="userName">
    </p>
</div>

<div class="password-container">
    <p>
        Password
        <br>
        <input type="password" [(ngModel)]="password">
    </p>
</div>

<div class="password-container">
    <p>
        Password Again
        <br>
        <input type="password" [(ngModel)]="passwordAgain">
    </p>
</div>

<button (click)="signUp()" type="button" mdbBtn color="primary" mdbWavesEffect>Save Changes</button>
&nbsp;&nbsp;
<button (click)="cancel()" type="button" mdbBtn color="primary" mdbWavesEffect>Cancel</button>
