<div class="header-container">
    <h1>Welcome to Todo App</h1>
</div>

<div class="info-container">
    <p>
        This app serves for newbies, like myself, to learn a bit about Angular. It obviously does not offer
        the best UI experience but hopefully will give you a bit of an introduction. Please enjoy :)
    </p>
</div>

<br>

<h2>Login</h2>

<div class="username-container">
    <p>
        Username
        <br>
        <input type="text" [(ngModel)]="userName">
    </p>
</div>

<div class="password-container">
    <p>
        Password
        <br>
        <input type="password" [(ngModel)]="password">
    </p>
</div>

<div class="center-button">
    <button class="button button1" (click)="signUp()" type="button" mdbBtn color="primary" mdbWavesEffect>Sign Up</button>
    &nbsp;&nbsp;
    <button class="button button1" (click)="signIn()" type="button" mdbBtn color="primary" mdbWavesEffect>Sign In</button>
</div>

<div class="play-container">
    <p>You've clicked <span (click)="countClick()">this</span> {{ clickCounter }} times.</p>
</div>

<div class="play-container">
    <p>
        <input type="text" [(ngModel)]="name">
        <br>
        <strong>You said : </strong> {{ name }}
    </p>
</div>

<div class="play-container" [ngClass]="setClasses()">"
    <ng-template [ngIf]="clickCounter > 4" [ngIfElse]="none">
        <p>The click counter <strong>IS GREATER</strong> than 4.</p>
    </ng-template>

    <ng-template #none>
        <p>The click counter <strong>IS NOT GREATER</strong> than 4.</p>
    </ng-template>
</div>
